.container
  .row
    .col-md-12
      %h3.page-header Total Requests

      #action-controller-graph

:coffeescript
  data = #{@total_minutes_json}

  graph = new Rickshaw.Graph {
    element: document.querySelector('#action-controller-graph'),
    renderer: 'bar',
    series: [{ data: data, color: 'steelblue', name: 'Requests' }]
  }

  hoverDetail = new Rickshaw.Graph.HoverDetail {
    graph: graph,
    yFormatter: (y) ->
      y
  }

  xAxis = new Rickshaw.Graph.Axis.Time {
    graph: graph
  }
  yAxis = new Rickshaw.Graph.Axis.Y {
    graph: graph
  }

  graph.render()
  xAxis.render()
  yAxis.render()

