/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rickshaw
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery.ui.slider
 *= require_self
 */

@import "bootstrap"
@import "bootstrap/theme"

.graph
  margin-top: 8px

.granularity
  margin-left: 10px

html, body
  height: 100%

#wrap
  min-height: 100%
  height: auto
  margin: 0 auto -50px
  padding: 0 0 50px

#main
  padding: 0 0 30px 0

footer
  height: 50px
  border-top: 1px solid #d6d6d6
  background: #e6e6e6
  width: 100%
  padding-top: 15px
  padding-bottom: 15px
  position: relative
  bottom: 0
